<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcw.food.mapper.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.zcw.food.pojo.OrderDetail">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="account_id" jdbcType="INTEGER" property="accountId" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="deliveryman_id" jdbcType="INTEGER" property="deliverymanId" />
        <result column="settlement_id" jdbcType="INTEGER" property="settlementId" />
        <result column="reward_id" jdbcType="INTEGER" property="rewardId" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="date" jdbcType="TIMESTAMP" property="date" />
    </resultMap>
    <insert id="insert" parameterType="com.zcw.food.pojo.OrderDetail" useGeneratedKeys="true">
    insert into order_detail (id, status, address,
      account_id, product_id, deliveryman_id,
      settlement_id, reward_id, price,
      date)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{accountId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{deliverymanId,jdbcType=INTEGER},
      #{settlementId,jdbcType=INTEGER}, #{rewardId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL},
      #{date,jdbcType=TIMESTAMP})
  </insert>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, status, address, account_id, product_id, deliveryman_id, settlement_id,
    reward_id, price, date
    from order_detail
  </select>

    <select id="selectOrder" resultMap="BaseResultMap">
        select id, status, address, account_id, product_id, deliveryman_id, settlement_id,
    reward_id, price, date
    from order_detail where id =#{orderId,jdbcType=INTEGER}
    </select>

    <update id="update">
    </update>
</mapper>